@model IEnumerable<WebServices.Domain.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Index Of Players</h2>

@*CHECK THIS*@
@*@if (TempData["UserMessage"] != null)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Excellent!!</strong>
        @TempData["UserMessage"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    }*@
<p>
    @Html.ActionLink("New Player", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualClub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.BirthDate)*@
                @item.BirthDate.Value.ToString("MMMM dd, yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualClub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@ 
                <form style="display:inline;" action="/Player/Delete/@item.Id" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }

</table>
